In [1]:
#import pandas library 
import pandas as pd

In [4]:
#read csv file 
df = pd.read_csv('Downloads\\annual-enterprise-survey-2021-financial-year-provisional-csv.csv')

In [5]:
#shwoing first 5 row in data frame
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
# column and fow counts
df.shape

(41715, 10)

In [7]:
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [8]:
#about data frame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41715 entries, 0 to 41714
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         41715 non-null  int64
 1   Industry_aggregation_NZSIOC  41715 non-null  object
 2   Industry_code_NZSIOC         41715 non-null  object
 3   Industry_name_NZSIOC         41715 non-null  object
 4   Units                        41715 non-null  object
 5   Variable_code                41715 non-null  object
 6   Variable_name                41715 non-null  object
 7   Variable_category            41715 non-null  object
 8   Value                        41715 non-null  object
 9   Industry_code_ANZSIC06       41715 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.2+ MB

In [9]:
#data type values
df.dtypes

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [10]:
df.mean()

C:\Users\Praveen Sharma\AppData\Local\Temp\ipykernel_19820\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Year    2017.0
dtype: float64

In [13]:
#peform basic statistics
df.describe()

              Year
count  41715.00000
mean    2017.00000
std        2.58202
min     2013.00000
25%     2015.00000
50%     2017.00000
75%     2019.00000
max     2021.00000

In [14]:
#find column names
df.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [15]:
#column wise values find
df['Year'].value_counts()

2021    4635
2020    4635
2019    4635
2018    4635
2017    4635
2016    4635
2015    4635
2014    4635
2013    4635
Name: Year, dtype: int64

In [16]:
#filter columns
df2 = df[df['Year'] == 2017]

In [19]:
#filter column values
df2

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
18540,2017,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"646,185",ANZSIC06 divisions A-S (excluding classes K633...
18541,2017,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"567,028",ANZSIC06 divisions A-S (excluding classes K633...
18542,2017,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"60,654",ANZSIC06 divisions A-S (excluding classes K633...
18543,2017,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,504",ANZSIC06 divisions A-S (excluding classes K633...
18544,2017,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"560,694",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
23170,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,72,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23171,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,29,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23172,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,17,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23173,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,8,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23174,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,49,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [33]:
#filter column with & operations

#df['Value'] belong to str first conver it to int then proceed for operation


df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

df3 = df[(df['Year'] == 2017) & (df['Value'] < 100)]

In [31]:
df.dtypes

Year                             int64
Industry_aggregation_NZSIOC     object
Industry_code_NZSIOC            object
Industry_name_NZSIOC            object
Units                           object
Variable_code                   object
Variable_name                   object
Variable_category               object
Value                          float64
Industry_code_ANZSIC06          object
dtype: object

In [34]:
df3

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
18566,2017,Level 1,99999,All industries,Percentage,H36,Current ratio,Financial ratios,76.0,ANZSIC06 divisions A-S (excluding classes K633...
18567,2017,Level 1,99999,All industries,Percentage,H37,Quick ratio,Financial ratios,68.0,ANZSIC06 divisions A-S (excluding classes K633...
18568,2017,Level 1,99999,All industries,Percentage,H39,Return on equity,Financial ratios,14.0,ANZSIC06 divisions A-S (excluding classes K633...
18569,2017,Level 1,99999,All industries,Percentage,H40,Return on total assets,Financial ratios,4.0,ANZSIC06 divisions A-S (excluding classes K633...
18570,2017,Level 1,99999,All industries,Percentage,H41,Liabilities structure,Financial ratios,32.0,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
23170,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H37,Quick ratio,Financial ratios,72.0,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23171,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,29.0,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23172,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H39,Return on equity,Financial ratios,17.0,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23173,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H40,Return on total assets,Financial ratios,8.0,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
23174,2017,Level 3,ZZ11,Food Product Manufacturing,Percentage,H41,Liabilities structure,Financial ratios,49.0,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [47]:
### pivot Table for data frame

pivot = pd.pivot_table(df,index = 'Year', columns = 'Variable_category',fill_value=0, aggfunc = 'count')

In [48]:
pivot

                  Industry_aggregation_NZSIOC                     \
Variable_category       Financial performance Financial position
Year
2013                                     2317               1327
2014                                     2317               1327
2015                                     2317               1327
2016                                     2317               1327
2017                                     2317               1327
2018                                     2317               1327
2019                                     2317               1327
2020                                     2317               1327
2021                                     2317               1327

                                   Industry_code_ANZSIC06                     \
Variable_category Financial ratios  Financial performance Financial position
Year
2013                           991                   2317               1327
2014                           991                   2317               1327
2015                           991                   2317               1327
2016                           991                   2317               1327
2017                           991                   2317               1327
2018                           991                   2317               1327
2019                           991                   2317               1327
2020                           991                   2317               1327
2021                           991                   2317               1327

                                    Industry_code_NZSIOC                     \
Variable_category Financial ratios Financial performance Financial position
Year
2013                           991                  2317               1327
2014                           991                  2317               1327
2015                           991                  2317               1327
2016                           991                  2317               1327
2017                           991                  2317               1327
2018                           991                  2317               1327
2019                           991                  2317               1327
2020                           991                  2317               1327
2021                           991                  2317               1327

                                    Industry_name_NZSIOC  ...  \
Variable_category Financial ratios Financial performance  ...
Year                                                      ...
2013                           991                  2317  ...
2014                           991                  2317  ...
2015                           991                  2317  ...
2016                           991                  2317  ...
2017                           991                  2317  ...
2018                           991                  2317  ...
2019                           991                  2317  ...
2020                           991                  2317  ...
2021                           991                  2317  ...

                             Units                 Value                     \
Variable_category Financial ratios Financial performance Financial position
Year
2013                           991                  1417                519
2014                           991                  1410                502
2015                           991                  1421                478
2016                           991                  1402                455
2017                           991                  1421                452
2018                           991                  1396                453
2019                           991                  1380                426
2020                           991                  1401                402
2021                           991                  1369                404

                                           Variable_code                     \
Variable_category Financial ratios Financial performance Financial position
Year
2013                           716                  2317               1327
2014                           704                  2317               1327
2015                           712                  2317               1327
2016                           703                  2317               1327
2017                           689                  2317               1327
2018                           709                  2317               1327
2019                           707                  2317               1327
2020                           709                  2317               1327
2021                           721                  2317               1327

                                           Variable_name                     \
Variable_category Financial ratios Financial performance Financial position
Year
2013                           991                  2317               1327
2014                           991                  2317               1327
2015                           991                  2317               1327
2016                           991                  2317               1327
2017                           991                  2317               1327
2018                           991                  2317               1327
2019                           991                  2317               1327
2020                           991                  2317               1327
2021                           991                  2317               1327


Variable_category Financial ratios
Year
2013                           991
2014                           991
2015                           991
2016                           991
2017                           991
2018                           991
2019                           991
2020                           991
2021                           991

[9 rows x 24 columns]

In [50]:
pivot2 = pivot.reset_index()

In [51]:
pivot2

                   Year Industry_aggregation_NZSIOC                     \
Variable_category             Financial performance Financial position
0                  2013                        2317               1327
1                  2014                        2317               1327
2                  2015                        2317               1327
3                  2016                        2317               1327
4                  2017                        2317               1327
5                  2018                        2317               1327
6                  2019                        2317               1327
7                  2020                        2317               1327
8                  2021                        2317               1327

                                   Industry_code_ANZSIC06                     \
Variable_category Financial ratios  Financial performance Financial position
0                              991                   2317               1327
1                              991                   2317               1327
2                              991                   2317               1327
3                              991                   2317               1327
4                              991                   2317               1327
5                              991                   2317               1327
6                              991                   2317               1327
7                              991                   2317               1327
8                              991                   2317               1327

                                    Industry_code_NZSIOC                     \
Variable_category Financial ratios Financial performance Financial position
0                              991                  2317               1327
1                              991                  2317               1327
2                              991                  2317               1327
3                              991                  2317               1327
4                              991                  2317               1327
5                              991                  2317               1327
6                              991                  2317               1327
7                              991                  2317               1327
8                              991                  2317               1327

                                    ...            Units  \
Variable_category Financial ratios  ... Financial ratios
0                              991  ...              991
1                              991  ...              991
2                              991  ...              991
3                              991  ...              991
4                              991  ...              991
5                              991  ...              991
6                              991  ...              991
7                              991  ...              991
8                              991  ...              991

                                  Value                                      \
Variable_category Financial performance Financial position Financial ratios
0                                  1417                519              716
1                                  1410                502              704
2                                  1421                478              712
3                                  1402                455              703
4                                  1421                452              689
5                                  1396                453              709
6                                  1380                426              707
7                                  1401                402              709
8                                  1369                404              721

                          Variable_code                                      \
Variable_category Financial performance Financial position Financial ratios
0                                  2317               1327              991
1                                  2317               1327              991
2                                  2317               1327              991
3                                  2317               1327              991
4                                  2317               1327              991
5                                  2317               1327              991
6                                  2317               1327              991
7                                  2317               1327              991
8                                  2317               1327              991

                          Variable_name
Variable_category Financial performance Financial position Financial ratios
0                                  2317               1327              991
1                                  2317               1327              991
2                                  2317               1327              991
3                                  2317               1327              991
4                                  2317               1327              991
5                                  2317               1327              991
6                                  2317               1327              991
7                                  2317               1327              991
8                                  2317               1327              991

[9 rows x 25 columns]